{% extends "test/wc-base_template.html" %}
{% load staticfiles %}
{% load interface_tags %}

{% block header %}
<link rel="import" href="{% static 'polymer_test/1.0/elements/my-element.raw.html' %}">
{% endblock %}

{% block body %}
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<div id="outerCtn" style="height: 100%; justify-content: center; display: flex; align-items: center;">
    <div id="ftrHolder" style="border: 1px solid #00a858; border-radius: 8px; padding: 3px 0 3px 2px; width: 214px;">
        <my-element csrf_token="{{csrf_token}}"
                    {% if request.session.session_id%}session="true" {% endif %}
                    static="{{ STATIC_URL }}"
                    params="{{params|jsonify}}"
                    service="{{service}}"
                    media="{{ MEDIA_URL }}">

        </my-element>
    </div>
</div>

{% endblock %}

